In [1]:
# Dependencies and Setup
%matplotlib inline
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

# Hide warning messages in notebook
import warnings
warnings.filterwarnings('ignore')

# File to Load (Remember to Change These)

mouse_drug_data = "data/mouse_drug_data.csv"
clinical_trial_data = "data/clinicaltrial_data.csv"

# Read the Mouse and Drug Data and the Clinical Trial Data

mouse_drug = pd.read_csv(mouse_drug_data)
clinical_trial = pd.read_csv(clinical_trial_data)

# Combine the data into a single dataset

comb_data = pd.merge(mouse_drug, clinical_trial, on="Mouse ID")

# Display the data table for preview

comb_data.head()

  Mouse ID      Drug  Timepoint  Tumor Volume (mm3)  Metastatic Sites
0     f234  Stelasyn          0           45.000000                 0
1     f234  Stelasyn          5           47.313491                 0
2     f234  Stelasyn         10           47.904324                 0
3     f234  Stelasyn         15           48.735197                 1
4     f234  Stelasyn         20           51.112713                 2

In [2]:
comb_data.describe()

         Timepoint  Tumor Volume (mm3)  Metastatic Sites
count  1906.000000         1906.000000       1906.000000
mean     19.538300           50.468120          1.018363
std      14.064786            8.869571          1.135991
min       0.000000           22.050126          0.000000
25%       5.000000           45.000000          0.000000
50%      20.000000           48.991921          1.000000
75%      30.000000           56.288484          2.000000
max      45.000000           78.567014          4.000000

## Tumor Response to Treatment

In [3]:
# Store the Mean Tumor Volume Data Grouped by Drug and Timepoint 

vol_data = comb_data.groupby(['Drug', 'Timepoint'])['Tumor Volume (mm3)']
mean_tvol = vol_data.mean()

# Convert to DataFrame

grp_data = pd.DataFrame(mean_tvol)

# Preview DataFrame
grp_data.head(40)

                     Tumor Volume (mm3)
Drug      Timepoint
Capomulin 0                   45.000000
          5                   44.266086
          10                  43.084291
          15                  42.064317
          20                  40.716325
          25                  39.939528
          30                  38.769339
          35                  37.816839
          40                  36.958001
          45                  36.236114
Ceftamin  0                   45.000000
          5                   46.503051
          10                  48.285125
          15                  50.094055
          20                  52.157049
          25                  54.287674
          30                  56.769517
          35                  58.827548
          40                  61.467895
          45                  64.132421
Infubinol 0                   45.000000
          5                   47.062001
          10                  49.403909
          15                  51.296397
          20                  53.197691
          25                  55.715252
          30                  58.299397
          35                  60.742461
          40                  63.162824
          45                  65.755562
Ketapril  0                   45.000000
          5                   47.389175
          10                  49.582269
          15                  52.399974
          20                  54.920935
          25                  57.678982
          30                  60.994507
          35                  63.371686
          40                  66.068580
          45                  70.662958

In [4]:
# Store the Standard Error of Tumor Volumes Grouped by Drug and Timepoint

std_err = vol_data.sem()

# Convert to DataFrame
grp_err = pd.DataFrame (std_err)
# Preview DataFrame
grp_err

                     Tumor Volume (mm3)
Drug      Timepoint
Capomulin 0                    0.000000
          5                    0.448593
          10                   0.702684
          15                   0.838617
          20                   0.909731
...                                 ...
Zoniferol 25                   0.602513
          30                   0.800043
          35                   0.881426
          40                   0.998515
          45                   1.003576

[100 rows x 1 columns]

In [23]:
# Minor Data Munging to Re-Format the Data Frames

In [24]:
# Preview that Reformatting worked

In [ ]:
# Generate the Plot (with Error Bars)

# Save the Figure

In [ ]:
# Show the Figure
plt.show()

![Tumor Response to Treatment](../Images/treatment.png)

## Metastatic Response to Treatment

In [29]:
# Store the Mean Met. Site Data Grouped by Drug and Timepoint 

group_mets = comb_data.groupby(["Drug", "Timepoint"])["Metastatic Sites"]
mean_mets = group_mets.mean()

# Convert to DataFrame
mean_mets_df = pd.DataFrame(mean_mets)

# Preview DataFrame
mean_mets_df.head(20)

                     Metastatic Sites
Drug      Timepoint
Capomulin 0                  0.000000
          5                  0.160000
          10                 0.320000
          15                 0.375000
          20                 0.652174
          25                 0.818182
          30                 1.090909
          35                 1.181818
          40                 1.380952
          45                 1.476190
Ceftamin  0                  0.000000
          5                  0.380952
          10                 0.600000
          15                 0.789474
          20                 1.111111
          25                 1.500000
          30                 1.937500
          35                 2.071429
          40                 2.357143
          45                 2.692308

In [35]:
# Store the Standard Error associated with Met. Sites Grouped by Drug and Timepoint 

std_err_mets = group_mets.sem()

# Convert to DataFrame
err_mets = pd.DataFrame (std_err_mets)

In [37]:
# Preview DataFrame
err_mets.head(20)

                     Metastatic Sites
Drug      Timepoint
Capomulin 0                  0.000000
          5                  0.074833
          10                 0.125433
          15                 0.132048
          20                 0.161621
          25                 0.181818
          30                 0.172944
          35                 0.169496
          40                 0.175610
          45                 0.202591
Ceftamin  0                  0.000000
          5                  0.108588
          10                 0.152177
          15                 0.180625
          20                 0.241034
          25                 0.258831
          30                 0.249479
          35                 0.266526
          40                 0.289128
          45                 0.286101

In [ ]:
# Minor Data Munging to Re-Format the Data Frames

# Preview that Reformatting worked

In [ ]:
# Generate the Plot (with Error Bars)

# Save the Figure

# Show the Figure

![Metastatic Spread During Treatment](../Images/spread.png)

## Survival Rates

In [39]:
# Store the Count of Mice Grouped by Drug and Timepoint (W can pass any metric)

mice_group = comb_data.groupby(["Drug", "Timepoint"])["Mouse ID"]
count_mice = mice_group.count()

# Convert to DataFrame
mice_df = pd.DataFrame(count_mice)

In [40]:
# Preview DataFrame
mice_df.head()

                     Mouse ID
Drug      Timepoint
Capomulin 0                25
          5                25
          10               25
          15               24
          20               23

In [ ]:
# Minor Data Munging to Re-Format the Data Frames

# Preview the Data Frame

In [ ]:
# Generate the Plot (Accounting for percentages)

# Save the Figure

# Show the Figure
plt.show()

![Metastatic Spread During Treatment](../Images/survival.png)

## Summary Bar Graph

In [ ]:
# Calculate the percent changes for each drug


# Display the data to confirm

In [ ]:
# Store all Relevant Percent Changes into a Tuple


# Splice the data between passing and failing drugs


# Orient widths. Add labels, tick marks, etc. 


# Use functions to label the percentages of changes


# Call functions to implement the function calls


# Save the Figure


# Show the Figure
fig.show()

![Metastatic Spread During Treatment](../Images/change.png)